html {
  font-family: Georgia;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  padding: 0 0.2em 0.2em;
  background-color: #ffe500;
}

h1 {
  font-family: "Sigmar One", serif;
  text-align: center;
  font-size: 3rem;
  color: #b20953;
  margin: 0;
  padding-bottom: .3em;
}

h2 {
  font-family: "Sigmar One", serif;
  text-align: left;
  font-size:1.875rem;
  color: #b20953;
  margin-top: 0.2em;
  margin-bottom: 0;
  padding-top: .3em;
}

p {
  text-align: left;
  font-size: 1.125rem;
  margin-top: 1.5em;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  background-color: #ffe500;
  padding: 1em;
}

main {
  display: inline-block;
  background-color: #fff;
  padding: .2em;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0 0 0.3em;
}

nav a {
  background-color: #b2a212;
  display: inline-block;
  margin: inherit;
  margin: 0 0 0.2em;
  padding: inherit;
  padding: .2em 0.5em 0.3em;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

a:hover {
  background-color: #b20953;
}

img {
  display:inline-block;
  width: 100%;
  margin-top: 2em;
}
