html {
  font-family: Georgia;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  padding: 0 .2em .2em;
  background-color: #ffe500;
}

h1 {
  font-family: "Sigmar One", serif;
  text-align: center;
  font-size: 3rem;
  color: #b20953;
  margin: 0;
  padding-bottom: .2em;
}

h2 {
  font-family: "Sigmar One", serif;
  font-size: 1.875rem;
  color: #b20953;
  padding: 0;
}

p {
  text-align: left;
  color: #2f2d13;
  padding: 10px;
  padding-top: 3px;
  margin-top: .2em;
  margin-bottom: .2em;
}

nav li {
  display: inline-block;
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

footer {
  font-size: .75rem;
  text-align: center;
  background-color: #ffe500;
  padding: 1em;
}

main {
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
}

ul {
  text-align: center;
  margin: 0;
  padding: .1em;
}

nav a {
  background-color: #b2a212;
  display: inline-block;
  margin: 0 0 .2em;
  padding: inherit;
  padding: .2em .5em .3em;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

nav .current {
  background-color: #b20953;
}

a:hover {
  background-color: #cc1465;
}

img {
  display: block;
  width: 100%;
  margin-top: 1.2em;
  margin-bottom: .3em;
  padding: 0;
}
